@import 'variables';

.courseshp {
  position: absolute;
  width: 100%;
  height: 854px;
  left: 0;
  top: 2000px;
}

.cards {

  position: absolute;
  width: 64vw;
  max-height: 700px;
  margin-left: 18vw;
  margin-right: 18vw;

  display: grid;
  grid-template-columns: 31.3vw 31.3vw;
  grid-template-rows: 1fr 11.2vw 11.2vw 11.2vw;
  grid-row-gap: 1.6vw;
  grid-column-gap: 1.6vw;
}

.card {
  width: 31.3vw;
  max-width: 600px;
  max-height: 215px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 11.2vw 11.2vw;

  border: 1px solid #E5E8ED;

  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.card:nth-child(1) {
  background-image: url("/img/card1.jpg");
  grid-column: 1;
  grid-row: 2;
}

.card:nth-child(2) {
  background-image: url("/img/card2.jpg");
  grid-column: 2;
  grid-row: 2;
}

.card:nth-child(3) {
  background-image: url("/img/card3.jpg");
  grid-column: 1;
  grid-row: 3;
}

.card:nth-child(4) {
  background-image: url("/img/card4.jpg");
  grid-column: 2;
  grid-row: 3;
}

.card:nth-child(5) {
  background-image: url("/img/card5.jpg");
  grid-column: 1;
  grid-row: 4;
}

.card:nth-child(6) {
  background-image: url("/img/card6.jpg");
  grid-column: 2;
  grid-row: 4;
}

.card_cont {
  margin: 1.7vw 1.7vw 1.7vw 13.9vw;

  & div {
    font-family: $family;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 150%;

    margin: 1.09vw 0 1.09vw 0;

    color: #1E212C;
  }

  & div:nth-child(3) {
    font-weight: 400;
    font-size: 1vw;
    color: #787A80;

    span {
      font-size: 1vw;
      color: #FF4242;
    }
  }
}

.headinghp {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  max-height: 92px;

  & div {
    max-height: 14px;

    font-family: $family;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #1E212C;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  & div:nth-child(2) {
    max-height: 25px;
    font-weight: 900;
    font-size: 2.4vw;
    line-height: 130%;
    text-transform: none;

    order: 1;
  }
}

.courseshp_button {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  padding: 0 40px;
  gap: 10px;

  width: 203px;
  height: 52px;
  background: none;
  border-radius: 4px;
  border: 1px solid #F75E05;

  span {
    width: 120px;
    height: 52px;

    font-family: $family;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 52px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;

    color: #F75E05;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.courseshp_button:hover {
  transition-duration: 1s;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: 1px solid #F75E05;

  span {
    color: #FFFFFF;
  }
}