//Navbar
@import 'menu', 'cta', 'header';

body {
  margin: 0;
}

.homepage {
  position: relative;
  height: 8765px;

  background: #FFFFFF;
}

.navbar {
  position: absolute;
  width: 1230px;
  height: 52px;
  left: 345px;
  top: 20px;
}

.logo {
  position: absolute;
  width: 130px;
  height: 22px;
  left: 0;
  top: calc(50% - 22px / 2);
}

//Header
