@import 'menu', 'cta';
@import 'header', 'background';
@import 'about', 'variables';
@import 'courseshp', 'benefits';

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  //font-size: 100%;
  max-width: 1920px;
  width: 100%;
  min-height: 8765px;
  height: 100%;
  border: 2px solid blue;
}

.homepage {
  position: absolute;
  width: 100%;
  height: 1080px;


  background: #FFFFFF;
}

